.tp {
    font-size: 40px;
}
.button {
    padding: 5px;
    width: 265px;
    height: 100%;
    background-color: #fa8;
    border: 1px solid #000;
    position: fixed;
}
.탈무드 {
    font-size: 35px;
    border: 10px solid skyblue;
    padding: 0;
    margin-left: 280px;
    display: block;
    width: auto;
}
.en {
    border: 9px solid red;
    width: 35%;
    font-size: 250%;
    margin-left: 280px;
}
.vido {
    border: 12px solid blue;
    width: 853px;
    height: 480px;
    margin-left: 280px;
}
.text {
    color: skyblue;
}
.quiz {
    font-size: 40px;
}
.quiz1 {
    font-size: 35px;
}
.t-tp {
    font-size: 35px;
}
.pictures {
    margin-left: 280px;
}